body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

hr {
    border: 0;
    border-top: 2px solid #007bff;
    width: 50%;
    margin: 20px auto;
}

.header-details-fecha, .header-details-numero {
    margin-bottom: 30px;
}

.header-details-fecha h1, .header-details-fecha p {
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.header-details-numero p, .header-details-numero h1  {
    font-size: 16px;
    margin: 0;
    text-align: left;
}


.header-details p {
    font-size: 16px;
    margin: 5px 0;
    color: #6c757d;
}

.header-details p strong {
    font-weight: bold;
    color: #343a40;
}

table.simple-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.simple-table th,
table.simple-table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
    font-size: 14px;
    color: #495057;
}

table.simple-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

table.simple-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e9ecef;
    font-size: 14px;
    color: #6c757d;
}

.footer p.highlight {
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

h3{
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}